body{
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background: linear-gradient(#BFABCB, #8D89A6) ;
    color: #ffffff;
}
#pic{
    width: 150px;
    border-radius: 50%;
    border: 6px solid #F2D5F8;
}
h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}
#age {
    background: #F2D5F8;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}
#date {
    margin: 0;
    background: #F2D5F8;
    padding: 5px 10px;
    border-radius: 5px;
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.gift-section{
    margin-top: 50px;
}
.gift-title{
    margin: 50px 0 20px 0;
}
.gift-hint{
    margin-top: 0;
}
.gift-img{
    background-image: url("images/gift\ cover.webp");
    background-size: cover;
    margin:0 auto;
    height: 400px;
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
}
#happy:hover{
    background-image: url("images/happy.gif");
}
#react:hover{
    background-image: url("images/react.gif");
}
#describe:hover{
    background-image: url("images/describe.webp");
}
#badass:hover{
    background-image: url("images/badass.webp");
}
#cheers{
    height: 200px;
}
#cheers:hover{
    background-image: url("images/cheers.webp");
}
.foot{
    width: 400px;
    display: block;
    margin: 40px auto 20px;
    font-style: italic;
}
a{
    color: white;
}